@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>错误</title>
</head>
<body>
    <h2>抱歉，处理您的请求时出错。5秒钟后自动跳转到首页。
    </h2>
</body>
<script type="text/javascript">
    var wait = 5000;
    window.setTimeout("timer()", wait);
    function timer() {
        window.location.href = '/';
    }
</script>
</html>
